/* layout.css */
.main {
    padding: 20px;
}

.flex {
    display: flex;
}

.sidebar {
    background-color: #005555;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    margin-right: 20px;
    height: 100vh;
    width: 200px; padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    margin-bottom: 20px;
    height: 15vh;
}

.body {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    height: 15vh;
    flex-grow: 1; /* Allow the body to grow to fill available space */
}
